
@{
    ViewBag.Title = "DeptNotavailable";
}


<div class="jumbotron">
<h2 style="color:blue"> Currently There is no Department in dept Table </h2>
    <h3 style="color:chocolate"> First add Department in Dept Table</h3>
<div>
    @Html.ActionLink("Back to List", "Index")
</div>
<div>
    @Html.ActionLink("Add Department", "DeptController")
</div>
    </div>
    
