
@{
    ViewBag.Title = "Index";
}



<h1 style="color:blue"><u>Employee Management</u></h1>

    <div style="color:brown">
        @Html.ActionLink("Emp Detail","EIndex");
    </div>
    
    <div style="color:brown">
        @Html.ActionLink("Department Detail", "~/Views/Dept/DIndex");
    </div>
@*
<div class="row">
    <div class="col-md-4">
        <p style="color:aqua"><a class="btn btn-default" style="color:brown"><b>Emp Details</b></a></p>
    </div>
    <div class="col-md-4">
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301867" style="color:brown"><b>Dept Details</b></a></p>
    </div>
</div>*@