
@{
    ViewBag.Title = "Index";
}
   

<div class="jumbotron">
    <h2 style="color:blue" ><u>Employee Management System</u></h2>
    <p class="lead" style="color:chocolate">This Application will give the Details of Employees ans department. </p>
    <div></div>
   <div>
       @Html.ActionLink("Employee Detail","../Emp/Index")
     </div>
    <div>
        @Html.ActionLink("Department Detail", "../Dept/Index")
        
    </div>
 </div>


    

