@model EmpManagement.Models.Dept
@{
    ViewBag.Title = "DEdit";
}

<link href="~/Content/bootstrap.css" rel="stylesheet" type="text/css">
<div class="jumbotron">
        @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken();
        
    <table cellspacing="10" align="center" class="table" cellpadding="5" style="font-size:large">
        <tr>
            <td>
                <h2 style="color:blue"> Update Department</h2>
            </td>
        </tr>
        <tr>
            <td>
                @Html.LabelFor(model => model.DName)
            </td>
            <td>
                @Html.TextBoxFor(model => model.DName)
            </td>
        </tr>
        <tr>
            <td></td>
        </tr>
        <tr>
            <td align="center" colspan="2">
                <input type="submit" value="Update">
           
                <input type="reset" value="Cancel">
            </td>
        </tr>
        <tr>
            <td>
                @Html.ActionLink("Back to List", "DIndex")
            </td>
        <tr>
    </table>
        }
  </div>
    
