@model EmpManagement.Models.Dept
@{
    ViewBag.Title = "DEdit";
}

<h2>DEdit</h2>

<h2 style="color:blue"><u> Edit Data </u></h2>
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken();
    <table>
        <tr>
            <td>
                @Html.LabelFor(model => model.DName)
            </td>
            <td>
                @Html.TextBoxFor(model => model.DName)
            </td>
        </tr>
        <tr>
            <td align="center">
                <button>Submit</button>
            </td>
            <td>
                <button> Cancel </button>
            </td>
        </tr>
    </table>
}
